torch>=2.0
torchaudio>=2.0
torchvision>=0.15
pytorch-lightning>=2.0
torch-optimizer>=0.3
numpy>=1.23
pandas>=1.5
scipy>=1.9
soundfile>=0.12
librosa>=0.10
opencv-python>=4.7
rich>=13.0
PyYAML>=6.0
tqdm>=4.64
scikit-image>=0.20
Pillow>=9.0
fast-bss-eval>=0.1
torch-mir-eval>=0.4
facenet-pytorch>=2.5
face-alignment>=1.4
mmcv>=2.0
